h1, p {
  font-family: Lato;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 10px;
}
a{
  text-decoration: none;
  color: inherit;
}
.list-item a{  
  display: block;
  text-align: center;  
}

ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.text-center{
  text-align: center;
}

.list-item{
  border: 1px dotted grey;
  border-radius: 5px;
  min-width:40%;
  max-width: 50%;
  margin: 10px;
}

.item-description input{
    width: 30px;
}

.item-description button{
   background-color: bisque;
   border-color: transparent;
   cursor: pointer;
}

.item-description div{
  margin: 10px 0;
}

.add-btn{
  border: 1px solid bisque;
  padding: 10px;
}

.badge{
  border-radius: 50%;
  background-color: rgb(231, 128, 128);
  min-width:10px;
  min-height:10px;
  padding: 3px;
  text-align: center;
}

.shopping-cart-container{
  display: flex;
  justify-content: space-between;
}

.bold{
  font-weight: bold
}