h1, p {
  font-family: Lato;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 10px;
}

.list-item a{
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;  
}

ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.text-center{
  text-align: center;
}

.list-item{
  border: 1px dotted grey;
  border-radius: 5px;
  min-width:40%;
  max-width: 50%;
  margin: 10px;
}

.item-description input{
    width: 30px;
}

.item-description button{
   background-color: bisque;
   border-color: transparent
}

.item-description div{
  margin: 10px 0;
}